@tailwind base;
@tailwind components;
@tailwind utilities;



body {

    background-size: contain;
    font-family: 'Inter', sans-serif;
    font-size: large;
    background: rgb(189, 192, 189);
}

.btnIniciar {

    position: absolute;
    width: 20rem;
    height: 4rem;
    /* left: 0; */
    top: 50rem;


    /* Dark blue/dark-blue-300 */

    background: #e2f3f3;
    border-radius: 10rem;
    font-style: normal;
    font-weight: bold;
    font-size: xx-large;
    line-height: 6px;
    display: flex;
    justify-content: center;

    /*text White */

    color: rgb(227, 74, 18);
}

.logo {
    position: absolute;
    left: 5rem;
    right: 37.43%;
    top: 80px;
    bottom: 0%;
    width: 60px;
    height: 60px;
}



.botonesHome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 20rem;
}